
<div class="logo">
  <%= render 'shared/logo' %>
</div>

<div class="navbar">
  <%= render 'shared/navbar' %>
</div>

<div id="fullpage">

  <div class="section section-landing">
    <%= render 'shared/landing_page' %>
  </div>

  <div class="section section-photos">
    <%= render 'shared/photos' %>
  </div>

  <div class="section section-videos">
   <%= render 'shared/videos' %>
  </div>

  <div class="section section-services-contact">
    <%= render 'shared/services_contact' %>
  </div>
</div>
