<div class="screen">
  <%= render 'shared/navigation' %>
  <%= render 'shared/landing' %>
  <%= render 'shared/photos' %>
  <%= render 'shared/videos' %>
  <%= render 'shared/instagram' %>
  <%= render 'shared/contact' %>
</div>


